/*menu styling*/
.menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 15px;
    padding-top: 1.5%;
    width: 20%;
    margin: 10px;
    background-color: #e7cefd;
}

.menu p{
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    font-size: 85%;
    text-align: left;
    color: darkmagenta;
}

.menu h3{
    font-family: sans-serif;
    line-height: 150%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: darkmagenta;
}

.menu a:hover {
    color: darkred;
}

.menu a {color: darkmagenta;
    text-decoration: none;
}

.signature {
    transition: transform 0.8s cubic-bezier(1,0,.34,1);
    transform-origin: center; /* stretch from center */
}

/* Hover effect */
.signature:hover {
    transform: scaleX(1.15);
}

.menu_options {
    margin-left: 10%;
}

.menubottom {
    margin-left: 10%;
    margin-bottom: 50px;
    position: absolute;
    bottom: 0;
}


.menubottom p{
    font-family: "Georgia", "Times New Roman", serif;}

.footer p {
    margin: 0;
}

.coded {
    color: darkviolet;
    font-style: italic;
}

.copyright {
    opacity: 50%;
    color: darkviolet;
}
