/*general*/
:root {
  overscroll-behavior: none;}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background-image: url("../assets/graph_paper_bg_tile.jpg");
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: top right;
    background-size: 80% auto;
    font-size: 1vw;
    background-color: #e7cefd;
}