<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Nhu Y Clarizio | Graphic Design Portfolio</title>

    <meta name="description" content="Explore the full online portfolio of Nhu Y Clarizio.">
    <meta name="keywords" content="Nhu Y Clarizio, Graphic Design, Illustration, Editorial, Packaging, Branding">
    <meta name="author" content="Nhu Y Clarizio">

    <link href="MasterTemplateStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="menu">

    </div>



    <div class="work">

    </div>
</body>