<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Nhu Y Clarizio | Graphic Design Portfolio</title>

    <meta name="description" content="Explore the full online portfolio of Nhu Y Clarizio.">
    <meta name="keywords" content="Nhu Y Clarizio, Graphic Design, Illustration, Editorial, Packaging, Branding">
    <meta name="author" content="Nhu Y Clarizio">

    <link href="MasterTemplateStyles.css" rel="stylesheet" type="text/css">
    <link href="MasterMenuStyles.css" rel="stylesheet" type="text/css">
    <link href="MasterProjectStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="menu">
        <div class="signature">
            <a href="index.html"> <img class="sig_svg" src="assets/signature.svg" alt="nhu y clarizio signature"></a>
        </div>

        <div class="menu_options">
            <h3>You can call me Mia.</h3>
            <h4>
                <h4><a href="category_pages/editorial_category.html">Editorial Design</a></h4>


                <div class="sub_options">
                    <p>
                        <a href="project_pages/books.html">A Citadel of Books</a><br>
                        <a href="project_pages/reporter.html"><i>Reporter</i> Highlights</a><br>
                        <a href="project_pages/interior.html">Interior Design Booklet</a><br>
                        <a href="project_pages/endings.html">The Joy of Endings<br></a><br>
                    </p>
                </div>
            </h4>

            <h4>
                <a href="category_pages/information_category.html">Information Design</a><br>
                <a href="category_pages/packaging_category.html">Packaging</a><br>
                <a href="category_pages/brand_category.html">Brand Identity</a>
            </h4>

            <br>

            <p>
                <a href="about.html">About</a><br>
                <a href="contact.html">Contact</a>
            </p>
        </div>

        <div class="menubottom">
            <div class="socialicons">
                <a href="https://www.linkedin.com/in/nhuyclarizio/" target="_blank"><img class="linkedin"
                        src="assets/linkedinlogo.png"></a>

                <a href="https://www.instagram.com/ny.clarizio/" target="_blank"> <img class="insta"
                        src="assets/instalogo.png"></a>

                <a href="https://youtube.com/@nhuyclarizio?si=jnbr1a7Hi8qTsIg6" target="_blank"><img class="yt"
                        src="assets/youtubelogo.png"></a>
            </div>
            <div class="footer">
                <p class="copyright">Coded by hand, from scratch :) <br>Copyright 2025 Nhu Y Clarizio<br><a
                        href="acknowledgements.html"><i>Acknowledgements</i></a></p>
            </div>
        </div>
    </div>



    <div class="info">

    </div>
</body>