.info {
    margin: 25px;
    max-width: 65%;
    margin-left: max(350px, 30%);
    margin-right: 3%;
}
.image{
    padding-bottom: 20px;
    max-width: 100%;
}

.description{
    column-count: 2;
    font-family: "Eb Garamond", "Times New Roman", serif;
    column-gap: 2vw;
    font-size: 1.0vw;
    line-height: 150%;
}
.contact-description{
    column-count: 1;
    font-family: "Eb Garamond", "Times New Roman", serif;
    font-size: 1.0vw;
    text-align: center;}

.description2{
    column-count: 1;
    font-family: "Eb Garamond", "Times New Roman", serif;
    text-align: center;}

.about{
    column-count: 1;
    font-family: "Eb Garamond", "Times New Roman", serif;
    max-width: 39%;
    margin-left: 30%;}

.about2{
    font-family: "Eb Garamond", "Times New Roman", serif;
    max-width: 55%;
    margin-left: 37%;}


.headshot3 {
    float: left;
    max-width: 29%;
    margin-left: 5%;}

.info h1{
    text-align: center;
    font-family: "Eb Garamond";
    font-size: 1.5vw;
    margin-top: 6%;
    margin-bottom: 4.75%;
}
.info h2{
    text-align: center;
    font-family: "Eb Garamond";
    font-weight: 400;
    font-style: italic;
    font-size: 1.25vw;}

.info h3{
    font-family: "Eb Garamond";
    line-height: 150%;
    margin-top: 5%;
    margin-bottom: 5%;}

.info h4{
    font-family: "Eb Garamond";
    line-height: 150%;
}

.info a:hover {
    color: dimgray;
}

.info a {color: black;
    text-decoration: none;}


@media only screen and (max-width: 575px) {
    .info {
        margin: 10px auto;
        max-width: 90%;
        margin-left: 5%;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 20%;}

    .info h4 {
        margin: 1em;
        font-size: .5vw;
    }

    .info h2 {
        font-size: 3vw;}

    .info h1 {
        font-size: 4vw;}

    p.description{
        column-count: 1;
        font-family: "Georgia", "Times New Roman", serif;
        font-size: 2.75vw;
    }

    p.description2{
        column-count: 1;
        font-family: "Georgia", "Times New Roman", serif;
        font-size: 2.75vw;
    }

    .contact-description{
        font-size: 2.75vw;
        margin-top: 25px;
        line-height: 150%;
    }
}